<div class="row">
  <div class="col-md-3">
    <div class="media">
      <table id="event-list">
        <tr>
          <th>Event</th>
          <th>Count</th>
        </tr>
        <% i = 1 %>
        <% event_counts.each do |event_name, count| %>
          <tr style="background-color:<%= EventHelper.select_color(i) %>" >
            <td><%= event_name %></td>
            <td><%= count %></td>
          </tr>
          <% i += 1 %>
          <% i = 1 if i > 31 %>
        <% end %>
      </table>
    </div>
  </div>

  <div class="col-md-5">
    <%= pie_chart event_counts %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= line_chart @application.events.group_by_day(:created_at).count %>
  </div>
</div>
